@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0e9c6;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #333333;
}

header {
  height: 4rem;
  background-color: #4caf50;
}

header nav {
  padding: 0 1rem;
  background-color: #4caf50;
}

header nav a {
  font-size: 1.2rem;
  color: #9bed9f;
  text-decoration: none;
}

main .container__hero {
  min-height: 26rem;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("../img/header.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

main .container__hero .hero .hero__title {
  width: 70%;
  padding: 1.1rem;
  font-size: 1rem;
  color: #a6ffa9;
}
body .container__article {
  min-height: 26rem;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("../img/header_article.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

body .container__article .hero .hero__title {
  width: 70%;
  padding: 1.1rem;
  font-size: 1rem;
  color: #a6ffa9;
}

main section .container__products {
  margin-top: 2rem;
}

main section .container__products .products__title {
  font-weight: bold;
}
main section .container__products .products__description {
  text-align: center;
}

main section .container__products .search {
  margin-top: 1rem;
  width: 12rem;
  border-bottom: 3px solid #9bed9f;
  padding-bottom: 0.2rem;
}

main section .container__products .search input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 0.8rem;
}

main section .container__products .search i {
  font-size: 0.8rem;
  padding-left: 0.4rem;
  cursor: pointer;
}

main section .container__products .products {
  width: 91.4%;
  margin: 1.2rem auto 0;
}

main section .container__products .products .product {
  width: 12rem;
  height: 16.5rem;
  background: #6ca058;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 1.2rem;
}

main section .container__products .products .product .badge {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  background: #2a6f0e;
  padding: 0.4rem 0.7rem;
  border-radius: 2rem;
  font-size: 0.6rem;
  font-weight: 400;
}

main section .container__products .products .product .product__img {
  width: 8rem;
  height: 4rem;
}

main section .container__products .products .product .product__features h4 {
  font-size: 1rem;
  font-weight: 600;
}

main section .container__products .products .product .product__features i {
  color: #dfda64;
}

main section .container__products .products .product .product__info {
  width: 80%;
  font-size: 0.8rem;
}

main
  section
  .container__products
  .products
  .product
  .product__info
  .product__cart {
  width: 2rem;
  height: 2rem;
  border: 2px solid #2a6f0e;
  border-radius: 100%;
  color: #2a6f0e;
  transition: 0.3s;
  cursor: pointer;
}

.product__cart:hover {
  background-color: #2a6f0e;
  border: 2px solid #fff;
}

.product__cart:hover i {
  color: #fff;
}

main
  section
  .container__products
  .products
  .product
  .product__info
  .product__price
  .price {
  color: #333333;
  font-weight: bold;
}

main
  section
  .container__products
  .products
  .product
  .product__info
  .product__price
  .discount {
  color: #e6e6e6;
  text-decoration: line-through;
  opacity: 0.7;
}

main .gallery_container .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 8rem);
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}

main .gallery_container .gallery a:hover {
  transition: 0.3s;
  opacity: 0.5;
}

main .gallery_container .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .gallery_container .gallery .gallery-img-3 {
  grid-column: 2/4;
  grid-row: 1/3;
}

footer {
  height: 4rem;
  background-color: #4caf50;
}

footer h5 {
  font-size: 1.2rem;
  color: #9bed9f;
}

@media (min-width: 767px) {
  header nav {
    padding: 0 2rem;
    background-color: #4caf50;
  }

  main .container__hero {
    height: 40rem;
  }
  main .container__article {
    height: 40rem;
  }

  main .container__hero .hero .hero__title {
    font-size: 1.3rem;
    padding: 1.5rem 0;
  }
  main .container__article .hero .hero__title {
    font-size: 1.3rem;
    padding: 1.5rem 0;
  }

  main section .container__products .container__search {
    width: 91.4%;
    margin: 2rem auto 0;
  }

  main section .container__products .search {
    width: 13rem;
  }

  main section .container__products .search input {
    font-size: 1rem;
  }

  main section .container__products .search i {
    font-size: 1rem;
  }

  main section .container__products .products {
    margin-top: 1.5rem;
  }

  main section .container__products .products .product {
    width: 13rem;
    margin-bottom: 2rem;
  }

  main .gallery_container .gallery {
    grid-template-rows: repeat(2, 14rem);
    margin-bottom: 2rem;
  }
}

@media (min-width: 990px) {
  main .container__hero {
    height: 37rem;
    background-position: 50%;
  }

  main .container__hero .hero .hero__title {
    padding: 1.8rem 0;
  }

  main section .container__products .search {
    width: 18.75rem;
  }

  main section .container__products .products {
    width: 95%;
    margin: 1.5rem auto 0;
  }

  main section .container__products .container__search {
    width: 95%;
    margin: 1.5rem auto 0;
  }

  main section .container__products .products .product {
    width: 18.75rem;
    height: 25rem;
    margin-bottom: 1.5rem;
  }

  main section .container__products .products .product .badge {
    top: 1.3rem;
    left: 1.8rem;
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }

  main section .container__products .products .product .product__img {
    width: 10rem;
    height: 6rem;
  }

  main section .container__products .products .product .product__img img {
    margin: 3rem 0;
  }

  main section .container__products .products .product .product__features {
    margin-top: 2rem;
  }

  main section .container__products .products .product .product__features h4 {
    font-size: 1.4rem;
  }

  main section .container__products .products .product .product__features i {
    font-size: 1.4rem;
  }

  main section .container__products .products .product .product__info {
    font-size: 1.1rem;
  }

  main
    section
    .container__products
    .products
    .product
    .product__info
    .product__cart {
    width: 3rem;
    height: 3rem;
  }

  main .gallery_container .gallery {
    grid-template-rows: repeat(2, 18rem);
    margin-bottom: 1.5rem;
  }
  main section .container__products .products__description {
    text-align: center;
    font-size: 30px;
  }
}
